<mat-tab-group mat-align-start="start" class="tabagenda">

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>pending_actions</mat-icon>
            <span style="margin-left: 10px;">INICIAR</span>
        </ng-template>
        <mat-progress-bar *ngIf="!assistir" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="assistir" fxLayout="row wrap" fxLayoutAlign="start start" style="padding: 2%;">
            <ng-container *ngFor="let live of livesAssistir" style="margin: 0.5%;">

                <mat-card class="mat-elevation-z5 mat-card-live" fxFlex="0 1 calc(33.3% - 11px;)" fxFlex.lt-md="0 1 calc(50% - 11px;)" fxFlex.lt-sm="100%;">
                    <!-- <mat-card class="mat-elevation-z5 mat-card-live" fxFlex="0 1 calc(25% - 11px;)" fxFlex.lt-md="0 1 calc(50% - 11px;)" fxFlex.lt-sm="100%;"> -->

                    <mat-card-title class="mat-card-title-live">
                        <div class="row">
                            <p>
                                <span style="font-size: 0.9rem;" fxFlex="70%" fxLayoutAlign="start center">
                                  {{live.liveName.substring(0,35)}}...
                                </span>
                                <span fxFlex></span>
                                <mat-chip class="mat-chip-date" fxFlex="25%" fxLayoutAlign="center center">
                                    <span style="font-size: 0.7rem;">{{live.liveDate | localDateTime}}</span>
                                </mat-chip>
                            </p>
                            <p style="font-size: 0.7rem;">
                                <span fxFlex="70%" fxLayoutAlign="start center">Canal: {{live.channelName}}</span>
                                <span fxFlex></span>
                                <span fxFlex="25%" fxLayoutAlign="end center">

                                  <!-- <button mat-mini-fab color="accent" aria-label="" (click)="addLive()"><mat-icon>plus_one</mat-icon></button>                                    -->
                                  <a routerLink="" (click)="openLiveForUpdate(live)" class="edit">
                                    <i class="material-icons">
                                        edit
                                    </i>
                                </a>
                                <a routerLink="" (click)="openLiveForDelete()" class="delete">
                                    <i class="material-icons">
                                        delete
                                    </i>
                                </a>

                                </span>
                            </p>
                        </div>
                    </mat-card-title>

                    <mat-card-content fxLayoutAlign="center center">
                        <div>

                            <iframe width="430" height="230" [src]="live.urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <!-- <iframe width="325" height="174" [src]="live.urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

                        </div>
                    </mat-card-content>
                </mat-card>

            </ng-container>
        </div>
    </mat-tab>




    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon style="margin-left: 10px;">visibility</mat-icon>
            <span style="margin-left: 10px;">ASSISTINDO</span>
        </ng-template>
        <mat-progress-bar *ngIf="!assistindo" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="assistindo" fxLayout="row wrap" fxLayoutAlign="start start" style="padding: 2%;">
            <ng-container *ngFor="let live of livesAssistindo" style="margin: 0.5%;">

                <mat-card class="mat-elevation-z5 mat-card-live" fxFlex="0 1 calc(33.3% - 11px;)" fxFlex.lt-md="0 1 calc(50% - 11px;)" fxFlex.lt-sm="100%;">
                    <!-- <mat-card class="mat-elevation-z5 mat-card-live" fxFlex="0 1 calc(25% - 11px;)" fxFlex.lt-md="0 1 calc(50% - 11px;)" fxFlex.lt-sm="100%;"> -->

                    <mat-card-title class="mat-card-title-live">
                        <div class="row">
                            <p>
                                <span style="font-size: 0.9rem;" fxFlex="70%" fxLayoutAlign="start center">
                                  {{live.liveName.substring(0,35)}}...
                                </span>
                                <span fxFlex></span>
                                <mat-chip class="mat-chip-date" fxFlex="25%" fxLayoutAlign="center center">
                                    <span style="font-size: 0.7rem;">{{live.liveDate | localDateTime}}</span>
                                </mat-chip>
                            </p>
                            <p style="font-size: 0.7rem;">
                                <span fxFlex="70%" fxLayoutAlign="start center">Canal: {{live.channelName}}</span>
                                <span fxFlex></span>
                                <span fxFlex="25%" fxLayoutAlign="end center">

                                  <!-- <button mat-mini-fab color="accent" aria-label="" (click)="addLive()"><mat-icon>plus_one</mat-icon></button>                                    -->
                                  <a routerLink="" (click)="openLiveForUpdate(live)" class="edit">
                                    <i class="material-icons">
                                        edit
                                    </i>
                                </a>
                                <a routerLink="" (click)="openLiveForDelete()" class="delete">
                                    <i class="material-icons">
                                        delete
                                    </i>
                                </a>

                              </span>
                            </p>
                        </div>
                    </mat-card-title>

                    <mat-card-content fxLayoutAlign="center center">
                        <div>

                            <iframe width="430" height="230" [src]="live.urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <!-- <iframe width="325" height="174" [src]="live.urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

                        </div>
                    </mat-card-content>
                </mat-card>

            </ng-container>
        </div>
    </mat-tab>




    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon style="margin-left: 10px;">done</mat-icon>
            <span style="margin-left: 10px;">FINALIZADAS</span>
        </ng-template>
        <mat-progress-bar *ngIf="!assistida" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="assistida" fxLayout="row wrap" fxLayoutAlign="start start" style="padding: 2%;">
            <ng-container *ngFor="let live of livesAssistida" style="margin: 0.5%;">

                <mat-card class="mat-elevation-z5 mat-card-live" fxFlex="0 1 calc(33.3% - 11px;)" fxFlex.lt-md="0 1 calc(50% - 11px;)" fxFlex.lt-sm="100%;">
                    <!-- <mat-card class="mat-elevation-z5 mat-card-live" fxFlex="0 1 calc(25% - 11px;)" fxFlex.lt-md="0 1 calc(50% - 11px;)" fxFlex.lt-sm="100%;"> -->

                    <mat-card-title class="mat-card-title-live">
                        <div class="row">
                            <p>
                                <span style="font-size: 0.9rem;" fxFlex="70%" fxLayoutAlign="start center">
                                {{live.liveName.substring(0,35)}}...
                              </span>
                                <span fxFlex></span>
                                <mat-chip class="mat-chip-date" fxFlex="25%" fxLayoutAlign="center center">
                                    <span style="font-size: 0.7rem;">{{live.liveDate | localDateTime}}</span>
                                </mat-chip>
                            </p>
                            <p style="font-size: 0.7rem;">
                                <span fxFlex="70%" fxLayoutAlign="start center">Canal: {{live.channelName}}</span>
                                <span fxFlex></span>
                                <span fxFlex="25%" fxLayoutAlign="end center">

                                  <!-- <button mat-mini-fab color="accent" aria-label="" (click)="addLive()"><mat-icon>plus_one</mat-icon></button>                                    -->
                                  <a routerLink="" (click)="openLiveForUpdate(live)" class="edit">
                                    <i class="material-icons">
                                        edit
                                    </i>
                                </a>
                                <a routerLink="" (click)="openLiveForDelete()" class="delete">
                                    <i class="material-icons">
                                        delete
                                    </i>
                                </a>

                              </span>
                            </p>
                        </div>
                    </mat-card-title>

                    <mat-card-content fxLayoutAlign="center center">
                        <div>

                            <iframe width="430" height="230" [src]="live.urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <!-- <iframe width="325" height="174" [src]="live.urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

                        </div>
                    </mat-card-content>
                </mat-card>


            </ng-container>
        </div>
    </mat-tab>



</mat-tab-group>