<mat-tab-group mat-align-start="start" class="tabagenda">

    <mat-tab id=iniciar>
        <ng-template mat-tab-label>
            <mat-icon>pending_actions</mat-icon>
            <span style="margin-left: 10px;">INICIAR</span>
        </ng-template>
        <mat-progress-bar *ngIf="!assistir" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="assistir" fxLayout="row wrap" fxLayoutAlign="start start" style="padding: 2%;">
            <ng-container *ngFor="let liveIni of livesAssistir" style="margin: 0.5%;">

                <mat-card class="mat-elevation-z5 mat-card-live" fxFlex="0 1 calc(33.3% - 11px;)" fxFlex.lt-md="0 1 calc(50% - 11px;)" fxFlex.lt-sm="100%;">

                    <mat-card-title class="mat-card-title-live">
                        <div class="row">
                            <p>
                                <span style="font-size: 0.9rem; text-align: left; margin-left: 15px; max-width: 70%; margin-right: 10px;">
                                  {{liveIni.liveName.substring(0,40)}}...
                                </span>
                                <!-- <span fxFlex></span> -->
                                <mat-chip class="mat-chip-date" style="text-align: right; float: right; ">
                                    <span style="font-size: 0.7rem; text-align: right; margin-right: 10px; ">{{liveIni.liveDate | localDateTime}}</span>
                                </mat-chip>
                            </p>
                            <p style="font-size: 0.7rem;">
                                <span fxFlex="70%" style="text-align: left; margin-left: 15px;">Canal: {{liveIni.channelName}}</span>
                                <span fxFlex></span>
                                <span fxFlex="25%" style="text-align: right; margin-right: 10px; max-width: 25%; display: block;">
                                  <a class="edit">
                                      <i class="material-icons" (click)="getLivePorId(liveIni)">
                                        edit
                                    </i>
                                </a>
                                <a class="delete">
                                    <i class="material-icons" (click)="openLiveForDelete()">
                                        delete
                                    </i>
                                </a>

                                </span>
                            </p>
                        </div>
                    </mat-card-title>

                    <mat-card-content fxLayoutAlign="center center">
                        <div>

                            <iframe width="430" height="230" [src]="liveIni.urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <!-- <iframe width="325" height="174" [src]="live.urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

                        </div>
                    </mat-card-content>
                </mat-card>

            </ng-container>
        </div>
    </mat-tab>




    <mat-tab id=assistindo>
        <ng-template mat-tab-label>
            <mat-icon style="margin-left: 10px;">visibility</mat-icon>
            <span style="margin-left: 10px;">ASSISTINDO</span>
        </ng-template>
        <mat-progress-bar *ngIf="!assistindo" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="assistindo" fxLayout="row wrap" fxLayoutAlign="start start" style="padding: 2%;">
            <ng-container *ngFor="let liveAstnd of livesAssistindo" style="margin: 0.5%;">

                <mat-card class="mat-elevation-z5 mat-card-live" fxFlex="0 1 calc(33.3% - 11px;)" fxFlex.lt-md="0 1 calc(50% - 11px;)" fxFlex.lt-sm="100%;">
                    <!-- <mat-card class="mat-elevation-z5 mat-card-live" fxFlex="0 1 calc(25% - 11px;)" fxFlex.lt-md="0 1 calc(50% - 11px;)" fxFlex.lt-sm="100%;"> -->

                    <mat-card-title class="mat-card-title-live">
                        <div class="row">
                            <p>
                                <span style="font-size: 0.9rem;" fxFlex="70%" fxLayoutAlign="start center">
                                  {{liveAstnd.liveName.substring(0,35)}}...
                                </span>
                                <span fxFlex></span>
                                <mat-chip class="mat-chip-date" fxFlex="25%" fxLayoutAlign="center center">
                                    <span style="font-size: 0.7rem;">{{liveAstnd.liveDate | localDateTime}}</span>
                                </mat-chip>
                            </p>
                            <p style="font-size: 0.7rem;">
                                <span fxFlex="70%" fxLayoutAlign="start center">Canal: {{liveAstnd.channelName}}</span>
                                <span fxFlex></span>
                                <span fxFlex="25%" fxLayoutAlign="end center">

                                  <!-- <button mat-mini-fab color="accent" aria-label="" (click)="addLive()"><mat-icon>plus_one</mat-icon></button>                                    -->
                                  <a routerLink="" (click)="getLivePorId(liveAstnd)" class="edit">
                                    <i class="material-icons">
                                        edit
                                    </i>
                                </a>
                                <a routerLink="" (click)="openLiveForDelete()" class="delete">
                                    <i class="material-icons">
                                        delete
                                    </i>
                                </a>

                              </span>
                            </p>
                        </div>
                    </mat-card-title>

                    <mat-card-content fxLayoutAlign="center center">
                        <div>

                            <iframe width="430" height="230" [src]="liveAstnd.urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <!-- <iframe width="325" height="174" [src]="live.urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

                        </div>
                    </mat-card-content>
                </mat-card>

            </ng-container>
        </div>
    </mat-tab>



    <mat-tab id=finalizadas>
        <ng-template mat-tab-label>
            <mat-icon style="margin-left: 10px;">done</mat-icon>
            <span style="margin-left: 10px;">FINALIZADAS</span>
        </ng-template>
        <mat-progress-bar *ngIf="!assistida" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="assistida" fxLayout="row wrap" fxLayoutAlign="start start" style="padding: 2%;">
            <ng-container *ngFor="let liveFin of livesAssistida" style="margin: 0.5%;">

                <mat-card class="mat-elevation-z5 mat-card-live" fxFlex="0 1 calc(33.3% - 11px;)" fxFlex.lt-md="0 1 calc(50% - 11px;)" fxFlex.lt-sm="100%;">
                    <!-- <mat-card class="mat-elevation-z5 mat-card-live" fxFlex="0 1 calc(25% - 11px;)" fxFlex.lt-md="0 1 calc(50% - 11px;)" fxFlex.lt-sm="100%;"> -->

                    <mat-card-title class="mat-card-title-live">
                        <div class="row">
                            <p>
                                <span style="font-size: 0.9rem;" fxFlex="70%" fxLayoutAlign="start center">
                                {{liveFin.liveName.substring(0,35)}}...
                              </span>
                                <span fxFlex></span>
                                <mat-chip class="mat-chip-date" fxFlex="25%" fxLayoutAlign="center center">
                                    <span style="font-size: 0.7rem;">{{liveFin.liveDate | localDateTime}}</span>
                                </mat-chip>
                            </p>
                            <p style="font-size: 0.7rem;">
                                <span fxFlex="70%" fxLayoutAlign="start center">Canal: {{liveFin.channelName}}</span>
                                <span fxFlex></span>
                                <span fxFlex="25%" fxLayoutAlign="end center">

                                  <!-- <button mat-mini-fab color="accent" aria-label="" (click)="addLive()"><mat-icon>plus_one</mat-icon></button>                                    -->
                                  <a routerLink="#" (click)="getLivePorId(liveFin)" class="edit">
                                    <i class="material-icons">
                                        edit
                                    </i>
                                </a>
                                <a routerLink="" (click)="openLiveForDelete()" class="delete">
                                    <i class="material-icons">
                                        delete
                                    </i>
                                </a>

                              </span>
                            </p>
                        </div>
                    </mat-card-title>

                    <mat-card-content fxLayoutAlign="center center">
                        <div>

                            <iframe width="430" height="230" [src]="liveFin.urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <!-- <iframe width="325" height="174" [src]="live.urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

                        </div>
                    </mat-card-content>
                </mat-card>


            </ng-container>
        </div>
    </mat-tab>






    <mat-tab id=especiais>
        <ng-template mat-tab-label>
            <mat-icon style="margin-left: 10px;">done</mat-icon>
            <span style="margin-left: 10px;">ESPECIAIS</span>
        </ng-template>
        <mat-progress-bar *ngIf="!especiais" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="especiais" fxLayout="row wrap" fxLayoutAlign="start start" style="padding: 2%;">
            <ng-container *ngFor="let liveEsp of livesEspeciais" style="margin: 0.5%;">

                <mat-card class="mat-elevation-z5 mat-card-live" fxFlex="0 1 calc(33.3% - 11px;)" fxFlex.lt-md="0 1 calc(50% - 11px;)" fxFlex.lt-sm="100%;">
                    <!-- <mat-card class="mat-elevation-z5 mat-card-live" fxFlex="0 1 calc(25% - 11px;)" fxFlex.lt-md="0 1 calc(50% - 11px;)" fxFlex.lt-sm="100%;"> -->

                    <mat-card-title class="mat-card-title-live">
                        <div class="row">
                            <p>
                                <span style="font-size: 0.9rem;" fxFlex="70%" fxLayoutAlign="start center">
                              {{liveEsp.liveName.substring(0,35)}}...
                            </span>
                                <span fxFlex></span>
                                <mat-chip class="mat-chip-date" fxFlex="25%" fxLayoutAlign="center center">
                                    <span style="font-size: 0.7rem;">{{liveEsp.liveDate | localDateTime}}</span>
                                </mat-chip>
                            </p>
                            <p style="font-size: 0.7rem;">
                                <span fxFlex="70%" fxLayoutAlign="start center">Canal: {{liveEsp.channelName}}</span>
                                <span fxFlex></span>
                                <span fxFlex="25%" fxLayoutAlign="end center">

                                <!-- <button mat-mini-fab color="accent" aria-label="" (click)="addLive()"><mat-icon>plus_one</mat-icon></button>                                    -->
                                <a routerLink="#" (click)="getLivePorId(liveEsp)" class="edit">
                                  <i class="material-icons">
                                      edit
                                  </i>
                              </a>
                              <a routerLink="" (click)="openLiveForDelete()" class="delete">
                                  <i class="material-icons">
                                      delete
                                  </i>
                              </a>

                            </span>
                            </p>
                        </div>
                    </mat-card-title>

                    <mat-card-content fxLayoutAlign="center center">
                        <div>

                            <iframe width="430" height="230" [src]="liveEsp.urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <!-- <iframe width="325" height="174" [src]="live.urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

                        </div>
                    </mat-card-content>
                </mat-card>


            </ng-container>
        </div>
    </mat-tab>




</mat-tab-group>