<mat-toolbar>
    <button style="margin-right: 15px;" mat-icon-button class="example-icon" aria-label="">
    <mat-icon tabindex="0" (keyup.space)="menu.toggle()" (click)="menu.toggle()">menu</mat-icon>
  </button>
    <span>
      Agenda Cooperchip - Lives
    </span>

    <app-menu #menu>
        <ul>
            <li>Menu Item 01</li>
            <li>Menu Item 02</li>
            <li>Menu Item 03</li>
            <li>Menu Item 04</li>
            <li>Menu Item 05</li>
            <li>Menu Item 06</li>
            <li>Menu Item 07</li>
            <li>Menu Item 08</li>
        </ul>
    </app-menu>

    <span class="example-spacer"></span>

    <div class="example-button-container">
        <button mat-mini-fab color="accent" aria-label="" (click)="addLive()"><mat-icon>plus_one</mat-icon></button>
    </div>


</mat-toolbar>
<app-list-live-demo></app-list-live-demo>