<mat-tab-group mat-align-start="start" class="tabagenda">

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>call_missed_outgoing</mat-icon>
            <span style="margin-left: 10px;">INICIAR</span>
        </ng-template>
        <mat-progress-bar *ngIf="!previous" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="previous" fxLayout="row wrap" fxLayoutAlign="start start" style="padding: 2%;">
            <ng-container *ngFor="let live of livesPrevious" style="margin: 0.5%;">


                <mat-card class="mat-elevation-z5 mat-card-live" fxFlex="0 1 calc(33.3% - 11px;)" fxFlex.lt-md="0 1 calc(50% - 11px;)" fxFlex.lt-sm="100%;">


                    <mat-card-title class="mat-card-title-live">
                        <div class="row">
                            <p>
                                <span style="font-size: 0.9rem;" fxFlex="70%" fxLayoutAlign="start center">
                                  {{live.liveName.substring(0,40)}}...
                                </span>
                                <span fxFlex></span>
                                <mat-chip class="mat-chip-date" fxFlex="25%" fxLayoutAlign="center center">
                                    <span style="font-size: 0.7rem;">{{live.liveDate | localDateTime}}</span>
                                </mat-chip>
                            </p>
                            <p style="font-size: 0.7rem;">
                                <span>Canal: {{live.channelName}}</span>
                            </p>
                        </div>
                    </mat-card-title>

                    <mat-card-content fxLayoutAlign="center center">
                        <div>

                            <iframe width="430" height="230" [src]="live.urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                            <!-- <iframe width="560" height="315" [src]="live.urlSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> -->
                            <!-- </iframe> -->
                        </div>
                    </mat-card-content>
                </mat-card>


            </ng-container>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon style="margin-left: 10px;">visibility</mat-icon>
            <span style="margin-left: 10px;">PRÓXIMAS</span>
        </ng-template>
        <div fxLayout="row wrap" fxLayoutAlign="start start" style="padding: 2%;">
            <ng-container *ngFor="let live of livesPrevious" style="margin: 0.5%;">


                <mat-card class="mat-elevation-z5" fxFlex="0 1 calc(33.3% - 11px;)" fxFlex.lt-md="0 1 calc(50% - 11px;)" fxFlex.lt-sm="100%;">


                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button><mat-icon style="color: red;">favorite</mat-icon> </button>
                        <button mat-button><mat-icon style="color: rgb(50, 95, 146);">share</mat-icon></button>
                    </mat-card-actions>
                </mat-card>


            </ng-container>
        </div>
    </mat-tab>

</mat-tab-group>
