.example-tab-icon {
    margin-right: 8px;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.tabagenda {
    padding-top: 5px;
    padding-right: 2%;
    padding-left: 2%;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}